@font-face {
    font-family: Liberator;
    src: url('../fonts/Liberator-Light.eot');
    src: url('../fonts/Liberator-Light.otf');
    font-weight: normal;
}

@font-face {
    font-family: Liberator;
    src: url('../fonts/Liberator-Heavy.eot');
    src: url('../fonts/Liberator-Heavy.otf');
    font-weight: bold;
}

@font-face {
    font-family: Apercu;
    src: url('../fonts/Apercu-Regular.eot');
    src: url('../fonts/Apercu-Regular.otf');
    font-weight: normal;
}
