@font-face {
    font-family: Liberator;
    src: url(../fonts/Liberator-Light.otf);
    font-weight: normal;
}

@font-face {
    font-family: Liberator;
    src: url(../fonts/Liberator-Heavy.otf);
    font-weight: bold;
}

@font-face {
    font-family: Pier;
    src: url(../fonts/pier.otf);
}

@font-face {
    font-family: Uni-Sans;
    src: url(../fonts/Uni-Sans-Heavy.otf);
}

@font-face {
    font-family: Sintony;
    src: url(../fonts/Sintony-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Sintony-Bold;
    src: url(../fonts/Sintony-Bold.ttf);
    font-weigth: bold;
}

@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu-Regular.otf);
    font-weight: normal;
}
