body {
	background-color: $dark-blue;
}

h1, h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2 {
	text-shadow: 0 2px $red,
				 0 0 15px rgba(black, 0.3);
}

h3, h4, h5 {
	letter-spacing: 1px;
}

