.section {
	background-size: cover;
	background-repeat: no-repeat;
	padding: $margin-large;

	@media #{$medium-only} {
		padding: $margin-medium;
	}

	@media #{$small-only} {
		padding: $margin-small;
	}
}

// Intro Section
.intro {
	background: transparent;

	.logo {
		max-width: 300px;
		height: auto;
		margin-right: auto;
		margin-left: auto;
		margin-top: 50px;
	}

	h1 {
		color: $light-brown;
		margin: 40px;
	}

	ul.intro-nav {
		text-style-type: none;
		text-align: center;

		li {
			display: inline-block;
		}
	}
}

// Inbjudan Section
.inbjudan {
	background-position: center top;
	background: transparent;
	padding: 2 * $margin-large 0;

	h1, h2, h4 {
		text-shadow: rgba(black, 0.3) 0 2px 10px;
	}

	h1 {
		font-weight: bold;
		margin: 50px 0;
	}

	h2 {
		margin: 50px 0 0 0;
	}

	h4 {
		font-family: Liberator;
		margin: 0;
	}
}

// Program
.program {
	background: transparent;

	.program-list {
		list-style-type: none;
		margin: $margin-small 0;
	}

	li {
		padding-left: $margin-small;
		height: 4rem;

		&:last-of-type {
			border-bottom-right-radius: 2px;
			border-bottom-left-radius: 2px;
		}
	}

	.datum {
		color: white;
		font-weight: bold;
		border-bottom: 2px solid $red;
		font-size: 1.2rem;
		text-transform: uppercase;
		padding-bottom: $margin-small / 2;
		line-height: 4rem;
	}

	.event {

		background-color: $light-brown;

		&:nth-child(odd) {
			background-color: $dark-brown;
		}

		.tid {
			display: inline-block;
			color: $red;
			min-width: 25%;
			font-family: Liberator;
			font-size: 1.2rem;
		}

		.title {
			line-height: 4rem;
			font-weight: bold;
		}

	}
}

// MM Invitational Section
.mm-invitational {
	background-position: center top;
	background: transparent;

	table {
		border: none;
		background-color: transparent;

		tr {
			background-color: transparent;

			td {
				color: white;

				&:nth-child(1) {
					text-transform: uppercase;
				}
			}
		}
	}
}

// Engelberg
.engelberg {
	background: transparent;

	ul.activities {
		margin: 0 0 0 8px;

		li {
			margin-bottom: $margin-small / 2;
			padding-left: 30px;

			&:before {
			   content: '';
			   display: inline-block;
			   height: 30px;
			   width: 30px;
			   background-repeat: no-repeat;
			   background-size: contain;
			   background-position: 0px center;
			   margin: 0 10px -20px -40px;
			}
		}

		li:nth-child(1):before {
			background-image: url('../img/emoji/strong.png');
		}
		li:nth-child(2):before {
			background-image: url('../img/emoji/clap.png');
		}
		li:nth-child(3):before {
			background-image: url('../img/emoji/thumbs-up.png');
		}
		li:nth-child(4):before {
			background-image: url('../img/emoji/ok.png');
		}
		li:nth-child(5):before {
			background-image: url('../img/emoji/victory.png');
		}
	}
}

// Boende
.boende {
	background: transparent;
}

// FYI
.fyi {
	background: transparent;

	h4 {
		margin-top: 1rem;

		&:first-child {
			margin-top: 0;
		}
	}
}

// OSA
.osa {

	.top {
		margin-bottom: $margin-small;
	}

	label {
		color: $dark-blue;
	}

	input, textarea {
		transition: all 0.2s ease-out;
		box-shadow: none;
		background: transparent;
		border: none;
		border-bottom: 2px solid $light-brown;
		font-size: 1rem;

		&:focus {
			background: transparent;
			border-bottom: 2px solid $light-brown;
			box-shadow: 0 -2px 0 $light-brown inset;
		}
	}

	input[type="text"] {
		height: 2rem;
		margin: 0;
	}

	textarea {
		resize: none;
	}

	button {
		border-radius: 2px;
		padding: $margin-small/2 $margin-small;
		background-color: darken(white, 0.2);
		outline: none;

		&:disabled {
			background-color: darken(white, 0.8);
			color: darken(white, 0.9);
		}

		&.add-attendee {
			color: $dark-blue;
			border: 2px solid $dark-blue;
		}

		&.remove-attendee {
			color: $red;
			border: 2px solid $red;
		}

		&.submit {
			background-color: $dark-blue;
			margin-bottom: 0;
		}
	}

	.attendee-row {
		margin-bottom: 5px;

		> .columns {
			height: 4rem;
		}

		.name-holder {
			padding-top: 1rem;
		}

		.competing-holder {
			@media #{$large-up} {
				padding-top: 1rem;
			}
		}

		.ski-level-holder {
			height: 0;

			&.show {
	  			height: 6rem;
	  			@media #{$large-up} {
					height: 4rem;
	  			}
	  		}
		}
	}

	img.ski-level {
		border-radius: 50%;
		display: inline-block;
		height: 4rem;
		width: auto;
		border: 2px solid transparent;
		transition: all 0.6s ease-out;
		cursor: pointer;
		opacity: 0.7;

		@media #{$small-only} {
			height: 3rem;
		}

		&:hover {
			opacity: 1;
		}

		&.chosen {
			border: 2px solid $red;
			opacity: 1;
		}
	}

	.panel.osa-panel {
		margin: 0;
		background-color: white;
		border: none;
		border-radius: 2px;
	}
}
