.attendee-transition {
	transition: all .3s ease;
	overflow: hidden;

	@media #{$large-up} {
		height: 4rem;
  	}
}

.attendee-enter, .attendee-leave {
	height: 0;
	opacity: 0;
}

.fade-transition, .smygare-transition, .glidare-transition, .svangare-transition, .frasare-transition {
	transition: all .3s ease-in;
}

.fade-enter, .fade-leave, .smygare-enter, .smygare-leave, .glidare-enter, .glidare-leave, .svangare-enter, .svangare-leave, .frasare-enter, .frasare-leave  {
	opacity: 0;
}

.smygare-transition, .frasare-leave {
	transition-delay: 0s;
}

.glidare-transition { //, .svangare-enter {
	transition-delay: .1s;
}

.svangare-transition { //, .glidare-enter {
	transition-delay: .2s;
}

.frasare-transition { //, .smygare-enter {
	transition-delay: .3s;
}

.svangare-transition.svangare-leave {
	transition-delay: .3s;
}

.svangare-transition.glidare-leave {
	transition-delay: .5s;
}

.svangare-transition.smygare-leave {
	transition-delay: .7s;
}
