// Colors

$dark-grey: #1c1d1d;
$light-grey: #d3d4d8;

$dark-brown: #c9c3b9;
$light-brown: #dcd5ca;

$dark-blue: #27323f;
$light-blue: #354462;

$red: #d96d5c;

// Margins

$margin-large: rem-calc(80);
$margin-medium: rem-calc(40);
$margin-small: rem-calc(20);
